@font-face {
    font-family: "font";
    src: url("../font/LXGWWenKai.ttf") format("truetype");
  }
  body {
    color: #B3BEC4;
    font-size: 20px;
    font-family: "font";
  }
  h1 {color: #ffffff}
  h2 {color: #cce7f8}
  h3 {color: #8dc7e7}
  h4 {color: #2a99da}
  blockquote {
    background-color: #313131;
    color: #cadbe4;
  }
  strong {
    color: #ffffff;
  }
  a {
    color: #a5ffffaf;
    text-decoration: none;
  }
  @media screen and (max-width: 1000px) {
    body {
      font-size: 26px;
    }
  }