@font-face {
  font-family: "intel";
  src: url("../font/intelmono.ttf") format("truetype");
}
.MathJax_Display {
  overflow-x: auto; /* 让元素在 X 方向超出后自动显示水平滚动条 */
  overflow-y: hidden; /* 防止元素在 Y 方向上超出时出现垂直滚动条 */
  white-space: nowrap; /* 防止文本换行导致元素变宽，强制行内显示 */
}
.hljs-ln td{
padding-left: 6px;
padding-right: 4px;
font-family: "intel";
}
.hljs-ln-numbers {
background-color: #282828; /* 设置行号背景颜色 */
text-align: center;
color: #B3BEC4;
line-height: 32px;
vertical-align: top;
padding: 20px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-size: 20px;
}   
.hljs-ln-code {
font-size: 20px;
tab-size: 4;
overflow-wrap: break-word;
}
pre code.hljs{display:block;overflow-x:auto;padding-left: 4px; padding-right:1em; }code.hljs{padding:3px 5px}
.hljs{background:#1B1B1B;color:#f8f8f2}.hljs-comment,.hljs-quote{color:#d4d0ab}.hljs-deletion,.hljs-name,.hljs-regexp,.hljs-selector-class,.hljs-selector-id,.hljs-tag,.hljs-template-variable,.hljs-variable{color:#ffa07a}.hljs-built_in,.hljs-link,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-type{color:#f5ab35}.hljs-attribute{color:gold}.hljs-addition,.hljs-bullet,.hljs-string,.hljs-symbol{color:#abe338}.hljs-section,.hljs-title{color:#00e0e0}.hljs-keyword,.hljs-selector-tag{color:#dcc6e0}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}@media screen and (-ms-high-contrast:active){.hljs-addition,.hljs-attribute,.hljs-built_in,.hljs-bullet,.hljs-comment,.hljs-link,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-quote,.hljs-string,.hljs-symbol,.hljs-type{color:highlight}.hljs-keyword,.hljs-selector-tag{font-weight:700}}
